@tailwind base;
@tailwind components;
@tailwind utilities;




.bee-text{
  
    font-family: 'ABeeZee';
  }

.title-text{
  font-family: 'Comfortaa';
}

.hexagon {
    margin: 0 auto;
    position: relative;
    width: 320px;
    height: 277.12px; /* width * 0.866 */
    box-sizing: border-box;
    -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
  
 }



.slideDown {
    top:-40px;
    left:5px;
    animation: slideDown ease .5s forwards .2s;
  }
  @keyframes slideDown {
    0% {transform: translateY(0);}
    100% {transform: translateY(40px);opacity:1;}
  }


  .text-fade{
    animation: fadeInAnimation ease 4s;
     animation-iteration-count: 1;
     animation-fill-mode: forwards;
 }
 
 @keyframes fadeInAnimation {
   0% {
       opacity: 0;
   }
   100% {
       opacity: 1;
    }
 }
  